:root{
    --dark-blue: #1f2937;
    --button-color: #3882F6;
    --secondary-text: #e5e7eb;
}

.intro .intro-image{
    height: 200px;
    /* width: 300px; */
    flex-basis: 300px;
    object-fit: fill;
}

.random-info-container .images-and-captions .image-and-caption .random-info-image{
    height: 150px;
    width: 150px;
    object-fit: fill;
    border-radius: 25px;
}

body,html{
    margin: 0;
}

/* Logo and Navbar */

header{
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .logo{
    margin: 0;
    font-size: 24px;
}

.navbar ul{
    display: flex;
    gap: 25px;
    padding-left: 0;
}

.navbar ul li{
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    color: var(--secondary-text);
}

/* Introduction */

.intro{
    background-color: var(--dark-blue);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 65px 0;
}

.intro .intro-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-basis: 450px;
}

.intro .intro-info .info-title{
    margin: 0;
    font-size: 48px;
}

.intro .intro-info .info-content{
    font-size: 18px;
}

.intro .intro-info .info-sign-up{
    background-color: var(--button-color);
    border: none;
    border-radius: 3px;
    color: var(--secondary-text);
    padding: 5px 20px;
    font-size: 16px;
}

/* Random Information */

.random-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px 0 55px 0;
    gap: 30px;
}

.random-info-container h1{
    margin: 0;
}

.images-and-captions{
    display: flex;
    gap: 50px;
}

.image-and-caption{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-and-caption p{
    width: 150px;
    text-align: center;
}

/* Quote */

.quote-container{
    display: flex;
    background-color: var(--secondary-text);
    justify-content: center;
    align-items: center;
}

.quote-and-author{
    display: flex;
    flex-direction: column;
    flex-basis: 700px;
    height: 300px;
    justify-content: center;
    padding: 0px 30px;
}

.quote{
    margin: 0;
    font-weight: 100;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.author{
    margin: 0;
    align-self: flex-end;
    font-weight: 900;
    font-size: 20px;
}

/* Sign up pop up */

.sign-up-pop-up-container{
    display: flex;
    padding: 50px 100px;
    justify-content: center;
    align-items: center;
    color: white;
}

.sign-up-pop-up{
    background-color: var(--button-color);
    display: flex;
    flex-basis: 650px;
    padding: 25px 50px;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.sign-up-pop-up .pop-up-title-and-description{
    display: flex;
    flex-direction: column;
}

.pop-up-title-and-description .pop-up-title{
    margin: 0;
}

.pop-up-title-and-description .pop-up-description{
    margin: 0;
}

.sign-up-pop-up-container .pop-up-button{
    display: inline-block;
    height: 25px;
    width: 100px;
    background-color: var(--button-color);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

/* Footer */

footer{
    background-color: var(--dark-blue);
    color: white;
}

footer .copyright{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}

@media (max-width : 900px){
    /* Header */
    header{
        justify-content: space-between;
        padding: 0 25px;
    }

    .navbar ul{
        font-size: 14px;
        gap: 20px;
    }

    /* Introduction */

    .intro{
        padding: 25px 25px;
    }

    .intro .intro-info .info-title{
        font-size: 40px;
    }

    .intro .intro-info .info-content{
        font-size: 12px;
    }

    .intro .intro-info .info-sign-up{
        padding: 2px 10px;
    }

    .intro .intro-info{
        flex-shrink: 1;
    }

    .intro .intro-image{
         flex-shrink: 1;
         min-width: 200px;
    }

    /* Random Information */

    .random-info-container h1{
        font-size: 25px;
    }

    .random-info-container .images-and-captions{
        flex-wrap: wrap;
        justify-content: center;
    }

    /* Quote */
    .quote-and-author{
        flex-shrink: 1;
        gap: 10px;
    }

    .quote-and-author .quote{
        font-size: 30px;
    }

    .quote-and-author .author{
        font-size: 16px;
    }

    /* Pop Up */
    .sign-up-pop-up{
        padding: 15px 10px;
        justify-content: space-around;
        min-width: 450px;
    }

    .sign-up-pop-up .pop-up-button{
        width: 75px;
        height: 20px;
    }

    .sign-up-pop-up .pop-up-title-and-description .pop-up-title{
        font-size: 14px;
    }

    .sign-up-pop-up .pop-up-title-and-description .pop-up-description{
        font-size: 12px;
    }
}

@media (max-width: 700px){
    /* Header */
    header .logo{
        font-size: 20px;
    }

    header .navbar li{
        font-size: 12px;
    }

    /* Introduction */
    .intro .intro-info .info-title{
        font-size: 30px;
    }

    .intro .intro-info .info-content{
        font-size: 11px;
    }

    .intro .intro-image{
        height: 150px;
    }

}

/* https://unsplash.com/photos/fIq0tET6llw 
 https://unsplash.com/photos/sf_1ZDA1YFw */