.intro .intro-image{
    height: 200px;
    width: 300px;
    object-fit: fill;
}

.random-info-container .images-and-captions .image-and-caption .random-info-image{
    height: 100px;
    width: 100px;
    object-fit: fill;
}

body,html{
    margin: 0;
}

/*Logo and Navbar*/

header{
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .logo{
    margin: 0;
    font-size: 24px;
}

.navbar ul{
    display: flex;
    gap: 25px;
    padding-left: 0;
}

.navbar ul li{
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    color: #e5e7eb;
}